@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 p-0;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar,
  .scrollbar-gray-100::-webkit-scrollbar {
    width: 20px; /* 스크롤바 너비 */
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  .scrollbar-gray-100::-webkit-scrollbar {
    background-color: transparent; /* 트랙 색상 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  .scrollbar-gray-100::-webkit-scrollbar-thumb {
    /* 손잡이 색상 grey300*/
    background-color: #abadb2;
    border-radius: 20px;
    /* 트랙과의 구분을 위한 여백 white100*/
    border: 6px solid #ffffff;
  }

  .scrollbar-gray-100::-webkit-scrollbar-thumb {
    border-color: #f5f5f5; /* navbar 제외한 배경색 white-200  */
  }
}

[type='radio'] {
  accent-color: #619952;
}
