@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 p-0 transition-colors duration-300 ease-in-out;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar,
  .scrollbar-gray-100::-webkit-scrollbar {
    @apply w-2;
    /* 스크롤바 너비 */
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  .scrollbar-gray-100::-webkit-scrollbar {
    @apply bg-transparent;
    /* 트랙 색상 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  .scrollbar-gray-100::-webkit-scrollbar-thumb {
    @apply rounded bg-grey-300;
    /* 손잡이 색상 grey300 */
  }

  .scrollbar-gray-100::-webkit-scrollbar-thumb {
    @apply bg-white-100;
    /* navbar 제외한 배경색 white-100  */
  }
}

.tooltip_container {
  display: flex;
  gap: 12px;
  border-radius: 8px;
  border: #e2e3e5;
  background-color: #ffffff;
  padding: 16px;
}

.tooltip_label {
  font-size: 14px;
  font-weight: bold;
}

.tooltip_data {
  font-size: 14px;
  font-weight: medium;
}
